#profilPage {

   height: 100%;
    padding: 20px;

   h2 {
    font-size: 2.5rem;
    text-align: center;
   }

 



}

.profileCard {
    border: solid red;

    width: 100%;
    padding: 2% 5%;
    
    h3 {
        margin-bottom: 20px;
        font-size: 1.25rem;
    }

    #personalData {

        display: flex;
        flex-direction: row;
        justify-content: space-between;


        .profileTextBox {
            display: flex;
            flex-direction: row;
            gap: 10%;

            
            .formBox {
                display: flex;
                flex-direction: column;
                gap: 2%;
            }
        }


        .profilImagesBox {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 300px;
            padding: 10px;

            

           
        }
    }


    .imgBox {
    
        margin-bottom: 10px;
        height: 200px;
        width: 200px;

        img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .btnBoxFile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;

        #fileInput {
            font-size: 0.75rem;
        }
    }

    .flexRow{
        display: flex;
        flex-direction: row;
    }

}